/**************************class SELECTORS*************************************/
.body{
font-family: Montserrat;
font-size: 16;
line-height: 2;
}

.head{
  text-align: center;
}

.fitpic{
  width: 200px;
  height: 200px;
  border-radius: 100%;
  margin-left: 40px;
}

.ela{
  text-decoration: underline;
}

